<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Update</title>
</head>

<body>
    <div id="main">
        <center>Update-Books data</center>
        <form action=<%= '/delete/'+book.id%> method="post">
            <input type="text" placeholder="Book Name" name="name">
            <input type="submit" value="Update">
        </form>
    </div>
    <script src="../javascripts/script.js"></script>

</body>

</html>