<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Books.com || Login</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
     <h4 style="margin:15px 30px; color: yellowgreen; font-weight: 390; ">My-Books.com</h4>
    <nav>
        <a href="#">Home</a>
        <a href="#">Portfoilo</a>
        <a href="#">About</a>
        <a href="">Contact</a>
    </nav>
    <div id="main" >
        <div id="box1">
            <h2> Codes never lies, comment sometimes do.</h2>
            
        </div>
        <div id="box2">
            <div id="formContainer">
                <form action="/login" method="POST">
                <h2 style="margin-bottom: 50px; font-weight: 400; ">Login Account</h2>
                <input type="text"placeholder="Username" name="username"><br>
                <input type="password" placeholder="Password" name="password"><br>
                <input type="submit" value="Login"><br>
                <small style=" cursor: progress; font-size: 10px; margin-top: -5px;">Forgot Username / Password?</small>
                <a href="/create"> Create an Account</a>
            </form>
            </div>
            
        </div>
    </div>
</body>
</html>